.main{
  position: relative;
  width:100%;
  height: 100%;
  background-size:cover;
  /*background-image:url("https://th.bing.com/th/id/R.38ae6c6b660f462ee86e58105550067a?rik=Vxhd8fW1n15sHw&pid=ImgRaw&r=0");*/
}
